/*order is imp*/
@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold/RalewayBold.eot");
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold.otf"); }
@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular.otf"); }
@font-face {
  font-family: "ProximaNovaRegularItalic";
  src: url("../fonts/ProximaNovaRegularItalic.otf"); }
@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../fonts/ProximaNovaSemibold.otf"); }
@font-face {
  font-family: "Raleway-Light.ttf";
  src: url("../fonts/Raleway-Light.ttf"); }
@font-face {
  font-family: "Raleway-Medium.ttf";
  src: url("../fonts/Raleway-Medium.ttf"); }
@font-face {
  font-family: "Ubuntu-M";
  src: url("../fonts/Ubuntu-M.ttf"); }
@font-face {
  font-family: "entypo-social";
  src: url("../fonts/entypo-social.ttf"); }
/* Type Selector*/
body {
  margin: 0;
  background-color: #ecedf1; }

/* Links */
a:link {
  color: #fff;
  text-decoration: none; }
a:visited {
  color: #fff; }
a:hover {
  color: #fff; }

.callBack .enrol {
  background-color: #83969f;
  height: 100px;
  z-index: 1;
  width: 80%; }
.callBack .enrolText p {
  font-size: 20px;
  font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 20px 0;
  z-index: 10;
  margin-top: -100px; }
  .callBack .enrolText p a {
    text-decoration: underline; }
.callBack .callBox {
  margin-top: -450px;
  z-index: 15;
  background-color: #344d71;
  height: 425px; }
  .callBack .callBox p {
    padding: 0px 50px; }
  .callBack .callBox form input {
    padding: 10px 35px;
    margin: 0 50px; }
  .callBack .callBox form p {
    padding: 0px 50px;
    padding-top: 20px; }

header .fa {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 25px;
  color: #83969f;
  float: right; }
  header .fa:hover {
    color: #344d71;
    cursor: pointer; }
header .email {
  background-color: #fff;
  font-size: 14px;
  font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
  color: #83969f;
  padding: 20px;
  text-align: right; }
  header .email span {
    margin-right: 100px; }
  @media (max-width: 768px) {
    header .email {
      text-align: left; } }
  @media (max-width: 460px) {
    header .email {
      width: 100%; } }
header .phoneNumber {
  position: absolute;
  right: 0;
  width: 37%;
  background-color: #344d71; }
  @media (max-width: 992px) {
    header .phoneNumber {
      width: 300px; } }
  @media (max-width: 460px) {
    header .phoneNumber {
      width: 100%;
      margin-top: 60px; } }
  header .phoneNumber .fa {
    font-size: 20px;
    color: #fff;
    padding: 20px;
    margin: 0;
    background-color: #de9e20;
    float: none; }
  header .phoneNumber span {
    font-size: 25px;
    font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
    color: #fff;
    margin-left: 20px; }
header .mountain {
  height: 800px;
  background-color: #f6b431;
  background-image: url("../img/mountains.png");
  background-size: cover; }
  @media (max-width: 768px) {
    header .mountain {
      height: 400px; } }
@media (max-width: 768px) {
  header .nav {
    padding: 0;
    width: 100%;
    position: fixed;
    background-color: #344d71;
    z-index: 999; } }
header .menu {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  header .menu li {
    padding: 20px;
    display: inline-block; }
    header .menu li a {
      font-size: 16px;
      font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
      color: #fff; }
      header .menu li a:hover {
        color: #344d71; }
      header .menu li a i {
        color: #fff; }
  @media (max-width: 768px) {
    header .menu li {
      display: block;
      text-align: center; }
      header .menu li a {
        display: block;
        font-size: 18px; }
        header .menu li a:hover {
          color: #10273d; }
      header .menu li .fa {
        display: none; } }
header .dropdown-menu li {
  padding: 0px; }
  header .dropdown-menu li a {
    text-align: center;
    font-size: 16px;
    font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
    color: #344d71; }
@media (max-width: 992px) {
  header .menu_btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f6b431;
    color: #344d71; }
    header .menu_btn #top_menu {
      background-color: #344d71; } }
header p {
  font-size: 20px;
  font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
  color: #fff; }
  @media (max-width: 768px) {
    header p {
      font-size: 14px; } }

h1 {
  font-size: 30px;
  font-family: "ProximaNovaBold", Helvetica, Arial, sans-serif;
  color: #344d71;
  text-transform: uppercase; }

h2 {
  font-size: 40px;
  font-family: "Raleway-Light", Helvetica, Arial, sans-serif;
  color: #fff;
  margin-top: 100px; }
  @media (max-width: 460px) {
    h2 {
      font-size: 20px; } }

h3 {
  font-size: 24px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 50px;
  padding-bottom: 0px; }

h4 {
  font-size: 20px;
  font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
  color: #83969f; }

h5 {
  font-size: 16px;
  font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
  color: #f6b431; }

/*# sourceMappingURL=main.css.map */
