/*order is imp*/
@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold/RalewayBold.eot");
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold.otf"); }
@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaRegular.otf"); }
@font-face {
  font-family: "ProximaNovaRegularItalic";
  src: url("../fonts/ProximaNovaRegularItalic.otf"); }
@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../fonts/ProximaNovaSemibold.otf"); }
@font-face {
  font-family: "Raleway-Light.ttf";
  src: url("../fonts/Raleway-Light.ttf"); }
@font-face {
  font-family: "Raleway-Medium.ttf";
  src: url("../fonts/Raleway-Medium.ttf"); }
@font-face {
  font-family: "Ubuntu-M";
  src: url("../fonts/Ubuntu-M.ttf"); }
@font-face {
  font-family: "entypo-social";
  src: url("../fonts/entypo-social.ttf"); }
/* Type Selector*/
body {
  margin: 0;
  background-color: #ecedf1; }

/* Links */
a:link {
  color: #fff;
  text-decoration: none; }
a:visited {
  color: #fff; }
a:hover {
  color: #fff; }

.callBack .enrol {
  background-color: #83969f;
  height: 100px;
  z-index: 1;
  width: 80%; }
  @media (max-width: 768px) {
    .callBack .enrol {
      width: 100%; } }
.callBack .enrolText p {
  font-size: 20px;
  font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
  color: #fff;
  z-index: 10;
  margin-top: -80px; }
  .callBack .enrolText p a {
    text-decoration: underline; }
  @media (max-width: 1200px) {
    .callBack .enrolText p {
      font-size: 16px; } }
.callBack .fa {
  position: absolute;
  margin-top: -65px;
  font-size: 30px;
  color: #fff; }
  @media (max-width: 768px) {
    .callBack .fa {
      display: none; } }
.callBack .callBox {
  margin-top: -490px;
  z-index: 15;
  background-color: #344d71;
  height: 450px; }
  @media (max-width: 768px) {
    .callBack .callBox {
      margin: 0; } }
  .callBack .callBox .contentBox {
    margin: 40px; }
    .callBack .callBox .contentBox p {
      font-size: 14px;
      font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
      color: #fff; }
    .callBack .callBox .contentBox form p {
      margin-top: 20px;
      font-size: 13px;
      font-family: "Ubuntu-M", Helvetica, Arial, sans-serif;
      color: #fff; }
    .callBack .callBox .contentBox input {
      border-radius: 3px;
      padding: 20px;
      width: 100%; }
    .callBack .callBox .contentBox button {
      margin-top: 20px;
      width: 100%;
      background-color: #f6b431;
      color: #fff;
      padding: 20px;
      font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
      border: none;
      border-radius: 3px; }
      .callBack .callBox .contentBox button:hover {
        background-color: #b08123; }
    @media (max-width: 768px) {
      .callBack .callBox .contentBox {
        margin: 40px 100px; } }
    @media (max-width: 460px) {
      .callBack .callBox .contentBox {
        margin: 40px; } }

.content p {
  font-size: 14px;
  font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
  color: #83969f;
  margin-top: 30px;
  line-height: 26px; }
.content button {
  position: absolute;
  bottom: 50px; }
  .content button i {
    margin-left: 10px; }
  @media (max-width: 992px) {
    .content button {
      position: static;
      margin-bottom: 30px; } }
.content .blueB {
  width: 60%;
  background-color: #344d71;
  color: #fff;
  padding: 20px;
  font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 3px; }
  .content .blueB:hover {
    background-color: #253751; }
.content .orangeB {
  width: 60%;
  background-color: #f6b431;
  color: #fff;
  padding: 20px;
  font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 3px; }
  .content .orangeB:hover {
    background-color: #b08123; }
.content .item, .content .itemList {
  margin-top: -1px;
  background-color: #fff;
  min-height: 500px; }
  @media (max-width: 992px) {
    .content .item, .content .itemList {
      min-height: auto; } }
.content .itemList {
  background-color: #fbfbfb; }
.content ul {
  list-style-image: url(../img/circle.png);
  font-size: 14px;
  font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
  color: #344d71; }
  .content ul li {
    padding-top: 20px; }
    @media (max-width: 1200px) {
      .content ul li {
        padding-top: 10px; } }
.content .video, .content .cContent .video2, .content .cContent .video3 {
  position: relative;
  background-image: url(../img/sky.jpg);
  background-repeat: no-repeat;
  height: 250px;
  padding: 0 15px; }
  .content .video a, .content .cContent .video2 a, .content .cContent .video3 a {
    position: absolute;
    bottom: 20px; }
  .content .video span, .content .cContent .video2 span, .content .cContent .video3 span {
    font-size: 16px;
    font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
    color: #fff;
    line-height: 30px;
    vertical-align: top; }
  .content .video i, .content .cContent .video2 i, .content .cContent .video3 i {
    margin: 0 10px;
    font-size: 30px;
    color: #fff; }
.content .search1, .content .search2, .content .search3, .content .search4, .content .search5, .content .search6 {
  cursor: pointer; }
  .content .search1:hover, .content .search2:hover, .content .search3:hover, .content .search4:hover, .content .search5:hover, .content .search6:hover {
    background-color: #002; }
  .content .search1 h4, .content .search2 h4, .content .search3 h4, .content .search4 h4, .content .search5 h4, .content .search6 h4 {
    margin: 0;
    margin-top: 30px;
    color: #fff; }
  .content .search1 p, .content .search2 p, .content .search3 p, .content .search4 p, .content .search5 p, .content .search6 p {
    margin: 10px 0;
    font-size: 13px;
    font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
    color: #fff; }
  .content .search1 i, .content .search2 i, .content .search3 i, .content .search4 i, .content .search5 i, .content .search6 i {
    font-size: 30px;
    color: #344d71;
    line-height: 90px;
    vertical-align: middle; }
.content .search1 {
  background-color: #3a557c; }
.content .search2 {
  background-color: #466289; }
.content .search3 {
  background-color: #253957; }
.content .search4 {
  background-color: #516e96; }
.content .search5 {
  background-color: #4771af; }
.content .search6 {
  background-color: #3a557c; }
.content .contentBackGround {
  background-color: #fff; }
.content .vLine {
  border-left: 1px solid #ede9e9; }
  @media (max-width: 992px) {
    .content .vLine {
      border: none; } }
.content .hLine {
  height: 65px;
  width: 100%;
  background-color: #fbfbfb;
  position: absolute;
  border-bottom: 1px solid #ede9e9; }
  @media (max-width: 992px) {
    .content .hLine {
      display: none; } }
.content .cContent {
  height: 550px; }
  @media (max-width: 992px) {
    .content .cContent {
      height: auto; } }
  .content .cContent .cTitle p {
    font-size: 14px;
    font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
    color: #344d71;
    margin: 20px;
    text-transform: uppercase; }
    @media (max-width: 992px) {
      .content .cContent .cTitle p {
        margin-left: 0;
        margin-top: 60px;
        border-bottom: 1px solid #ede9e9;
        font-size: 20px; } }
  .content .cContent span {
    font-size: 14px;
    font-family: "ProximaNovaRegularItalic", Helvetica, Arial, sans-serif;
    color: #83969f;
    margin-top: 10px;
    margin-bottom: 50px;
    display: inline-block; }
    @media (max-width: 992px) {
      .content .cContent span {
        margin-top: 0;
        margin-bottom: 20px; } }
  .content .cContent .video2 {
    margin-top: 20px;
    background-image: url(../img/video1.jpg); }
    .content .cContent .video2 span {
      line-height: 15px; }
  .content .cContent .video3 {
    margin-top: 0px;
    background-image: url(../img/video2.jpg); }
    .content .cContent .video3 span {
      line-height: 15px; }

footer {
  background-color: #344d71; }
  footer .footerBackground {
    background-color: #253957; }
    footer .footerBackground p {
      margin-top: 50px;
      font-size: 18px;
      font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
      color: #f6b431; }
    footer .footerBackground a {
      font-size: 13px;
      font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
      color: #fff;
      line-height: 25px;
      vertical-align: bottom; }
    footer .footerBackground .fotterinfo a {
      line-height: 40px; }
  footer .phoneNumber {
    width: 100%;
    background-color: #344d71; }
    @media (max-width: 992px) {
      footer .phoneNumber {
        width: 300px; } }
    @media (max-width: 460px) {
      footer .phoneNumber {
        width: 100%;
        margin-top: 60px; } }
    footer .phoneNumber .fa {
      font-size: 20px;
      color: #fff;
      padding: 20px;
      margin: 0;
      background-color: #de9e20;
      float: none; }
    footer .phoneNumber span {
      font-size: 25px;
      font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
      color: #fff;
      margin-left: 20px; }
  footer p {
    font-size: 13px;
    font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
    color: #83969f;
    padding-top: 20px;
    padding-top: 300px; }

header .fa {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 25px;
  color: #83969f;
  float: right; }
  header .fa:hover {
    color: #344d71;
    cursor: pointer; }
header .email {
  background-color: #fff;
  font-size: 14px;
  font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
  color: #83969f;
  padding: 20px;
  text-align: right; }
  header .email span {
    margin-right: 100px; }
  @media (max-width: 768px) {
    header .email {
      text-align: left; } }
  @media (max-width: 460px) {
    header .email {
      width: 100%; } }
header .phoneNumber {
  position: absolute;
  right: 0;
  width: 37%;
  background-color: #344d71; }
  @media (max-width: 992px) {
    header .phoneNumber {
      width: 300px; } }
  @media (max-width: 460px) {
    header .phoneNumber {
      width: 100%;
      margin-top: 60px; } }
  header .phoneNumber .fa {
    font-size: 20px;
    color: #fff;
    padding: 20px;
    margin: 0;
    background-color: #de9e20;
    float: none; }
  header .phoneNumber span {
    font-size: 25px;
    font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
    color: #fff;
    margin-left: 20px; }
header .mountain {
  height: 800px;
  background-color: #f6b431;
  background-image: url("../img/mountains.png");
  background-size: cover; }
  @media (max-width: 768px) {
    header .mountain {
      height: 400px; } }
@media (max-width: 768px) {
  header .nav {
    padding: 0;
    width: 100%;
    position: fixed;
    background-color: #344d71;
    z-index: 999; } }
header .menu {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  header .menu li {
    padding: 0 20px;
    display: inline-block; }
    header .menu li a {
      font-size: 16px;
      font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
      color: #fff; }
      header .menu li a:hover {
        color: #344d71; }
      header .menu li a i {
        color: #fff;
        padding: 0px;
        margin-bottom: -5px; }
  @media (max-width: 768px) {
    header .menu li {
      padding: 20px;
      display: block;
      text-align: center; }
      header .menu li a {
        display: block;
        font-size: 18px; }
        header .menu li a:hover {
          color: #10273d; }
      header .menu li .fa {
        display: none; } }
header .dropdown-menu li {
  padding: 0px; }
  header .dropdown-menu li a {
    text-align: center;
    font-size: 16px;
    font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
    color: #344d71; }
@media (max-width: 992px) {
  header .menu_btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f6b431;
    color: #344d71; }
    header .menu_btn #top_menu {
      background-color: #344d71; } }
header p {
  font-size: 20px;
  font-family: "ProximaNovaSemibold", Helvetica, Arial, sans-serif;
  color: #fff; }
  @media (max-width: 768px) {
    header p {
      font-size: 14px; } }

h1 {
  font-size: 30px;
  font-family: "ProximaNovaBold", Helvetica, Arial, sans-serif;
  color: #344d71;
  text-transform: uppercase; }

h2 {
  font-size: 40px;
  font-family: "Raleway-Light", Helvetica, Arial, sans-serif;
  color: #fff;
  margin-top: 100px; }
  @media (max-width: 460px) {
    h2 {
      font-size: 20px; } }

h3 {
  font-size: 24px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 0;
  padding-bottom: 0px;
  padding-top: 40px; }

h4 {
  font-size: 20px;
  font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
  color: #83969f; }

h5 {
  font-size: 16px;
  font-family: "ProximaNovaRegular", Helvetica, Arial, sans-serif;
  color: #f6b431;
  margin-top: 30px; }

/*# sourceMappingURL=main.css.map */
