$videoHeight:250px;


.content{
	p{
	@include text(14px,$stack-ProximaNovaR,$lBlue);
	margin-top: 30px;
	line-height: 26px;
	}
	button{
		i{
			margin-left: 10px;
		}

		position: absolute;
		bottom: 50px;
		@media #{$brk-md} {
	    position: static;
	    margin-bottom: 30px;
	    }	
	}
	.blueB{
		@include button(60%, $dBlue);
	}
	.orangeB{
		@include button(60%);	
	}
	.item, .itemList{
		margin-top: -1px;
	background-color: $white;
	min-height: 500px;

		@media #{$brk-md} {
	     min-height:auto;
	    }	
	}

	.itemList{
		background-color: $gray;
	}
	ul{
		list-style-image: url(../img/circle.png);
		@include text(14px,$stack-ProximaNovaR,$dBlue);
		li{
			padding-top: 20px;
			@media #{$brk-lg} {
        	padding-top: 10px;
    		}	
		}
		
	}

	.video{
		position: relative;
		background-image: url(../img/sky.jpg);
		background-repeat: no-repeat;
		height: $videoHeight;
		padding: 0 15px;
		a{
			position: absolute;
			bottom:20px;
			

		}

		span{
			@include text(16px,$stack-ProximaNovaR);
			line-height: 30px;
			vertical-align: top;
		}
		i{
			margin: 0 10px ;
			font-size: 30px;
			color: $white;
			
		}
	}
	
	.search1, .search2, .search3, .search4, .search5, .search6{		
		cursor: pointer;
		&:hover{
			background-color: #002;
		}
		h4{
			margin: 0;
			margin-top: 30px;

		color:$white;
		}
		p{
			margin: 10px 0;
			@include text(13px,$stack-ProximaNovaR);
		}
		i{
			font-size: 30px;
			color: $dBlue;
			line-height: 90px;
			vertical-align: middle;
		}
	}
	.search1{
		background-color: #3a557c;
	}
	.search2{
		background-color: #466289;
	}
	.search3{
		background-color: #253957;
	}
	.search4{
		background-color: #516e96;
	}
	.search5{
		background-color: #4771af;
	}
	.search6{
		background-color: #3a557c;
	}

	
	.contentBackGround{
		background-color: $white;
	}
	.vLine{
			border-left: 1px solid $dGray;
			@media #{$brk-md} {
        	border: none;
    		}
		}
	.hLine{
		height:65px;
		width: 100%;
		background-color: $gray;
		position: absolute;
		border-bottom: 1px solid $dGray;
		@media #{$brk-md} {
        	display: none;
    		}
	}
	.cContent{
		height: 550px;
		@media #{$brk-md} {
        	height: auto;
    		}
		.cTitle p{
			@include text(14px,$stack-ProximaNovaR,$dBlue);
			margin: 20px;
			text-transform: uppercase;
			@media #{$brk-md} {
			margin-left: 0;
			margin-top: 60px;
        	border-bottom: 1px solid $dGray;
        	font-size: 20px;
    		}
		}
		span{
			@include text(14px,$stack-ProximaNovaRL,$lBlue);
			margin-top: 10px;
			margin-bottom: 50px;
			display: inline-block;
			@media #{$brk-md} {
			margin-top: 0;
        	margin-bottom: 20px;
    		}
		}
		.video2{
			@extend .video;
			margin-top: 20px;
			background-image: url(../img/video1.jpg);
			span{
			line-height: 15px;
			}	
	

		}
		.video3{
			@extend .video;
			margin-top: 0px;
			background-image: url(../img/video2.jpg);
			span{
			line-height: 15px;
			}	
		}
	}
}