
h1{
     @include text(30px,$stack-ProximaNovaB,$dBlue);
      text-transform: uppercase;
}

h2{
   
 @include text(40px,$stack-RalewayL);
 margin-top: 100px;
    @media #{$brk-xs} {
        font-size: 20px;
    }
}


h3{ 
     @include text(24px,$stack-RalewayM);
     padding: 0;
     padding-bottom: 0px;
    padding-top:40px ;
}

h4{
     @include text(20px,$stack-OpenSansR,$lBlue);
}

h5{
    @include text(16px,$stack-ProximaNovaR,$orange);
}
// .title{
    
//     @include text(1.625em,0.125em,normal,$white);
//     letter-spacing: 0.125em;
//     border-bottom : 2px solid;
//     padding-bottom :10px;
//     @media #{$brk-narrow}{
//         font-size: 1.3rem;
//         border: none;
//     }
// }


// .lakespi{
//     @media #{$brk-narrow}{
//         font-size: 1rem;
//     }
// }


// .landoflincoln{
//         @media #{$brk-wide} {
//         padding: 10% 12%;
//         margin: 50px 0 20px;
//     }
// }