@mixin text($size, $family:$stack-sans-serif, $color:null, $weight:null, $lineheight:null){
    font-size: $size;
    font-family: $family;
    color: $color;
    line-height: $lineheight;
    font-weight: $weight;
}