@mixin text($size, $family:$stack-sans-serif, $color:$white, $weight:null, $lineheight:null){
    font-size: $size;
    font-family: $family;
    color: $color;
    line-height: $lineheight;
    font-weight: $weight;
}

@mixin button($width: 100%,$backgroundColor:$orange,$color:$white,$padding:20px,$family:$stack-ProximaNovaS){
	width: $width;
	background-color: $backgroundColor;
	color:$color;
	padding: $padding;
	font-family: $family;
	border:none;
	border-radius: 3px;
	&:hover{
		background-color:$backgroundColor/1.4;
	}
}