//colors

$dBlue:#344d71; //darkBlueColor
$lBlue:#83969f; //lightBlueColor
$orange:#f6b431; //orangeColor
$dOrange:#de9e20;
$background:#ecedf1; //background color
$white:#fff;
$gray:#fbfbfb;

//font-stack

$stack-sans-serif : Helvetica, Arial, sans-serif;
$stack-OpenSansR: 'OpenSans-Regular', $stack-sans-serif;
$stack-ProximaNovaB: 'ProximaNovaBold', $stack-sans-serif;
$stack-ProximaNovaR: 'ProximaNovaRegular', $stack-sans-serif;
$stack-ProximaNovaRI: 'ProximaNovaRegularItalic', $stack-sans-serif;
$stack-ProximaNovaS: 'ProximaNovaSemibold', $stack-sans-serif;
$stack-RalewayL: 'Raleway-Light', $stack-sans-serif;
$stack-RalewayM: 'Raleway-Medium', $stack-sans-serif;
$stack-UbuntuM: 'Ubuntu-M', $stack-sans-serif;
$stack-entypoS: 'entypo-social' $stack-sans-serif;

//breakpoints
$brk-lg : '(max-width: 1200px)';
$brk-md: '(max-width: 992px)';
$brk-sm : '(max-width: 768px)';
$brk-xs : '(max-width: 460px)';

